<div class="modal fade" id="logModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="panel panel-info title">
				<div class="panel-heading title">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="panel-title">LOGIN</h3> 
				</div>
				<div class="panel-body">

					<form ng-submit="login(user)">

						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							</div>
							<input type="email" ng-model="user.j_username" placeholder="Email" class="form-control" required>
						</div>
						<br>
						<div class="input-group">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
							</div>
							<input type="password" ng-model="user.j_password" placeholder="Password" class="form-control" required>
						</div>
						<br>

						<input type="submit" value="Login" class="btn btn-info">

					</form>

				</div>
			</div>			
		</div>
	</div>
</div>
